{% extends 'core/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Nuestra Historia y Filosofía</h1>
            <p>En Tejidos a Mano , cada pieza cuenta una historia de tradición, pasión y habilidad artesanal. Nacimos con el sueño de preservar las técnicas ancestrales del tejido a mano, transformándolas en accesorios modernos y funcionales como zapatos y mochilas.</p>
            <p>Creemos en la belleza de lo hecho a mano, en la calidad que perdura y en la sostenibilidad. Utilizamos materiales cuidadosamente seleccionados, respetando el medio ambiente y apoyando a las comunidades locales.</p>
            <p>Nuestro equipo de artesanos, con años de experiencia, infunde alma en cada hilo, creando productos únicos que reflejan la riqueza cultural y la dedicación a un trabajo bien hecho. Desde la elección de la materia prima hasta el último nudo, cada paso es un acto de amor.</p>
            <p>Gracias por ser parte de nuestra historia y por valorar el arte del tejido a mano.</p>
            <h3>Nuestro Compromiso</h3>
            <ul>
                <li><strong>Artesanía de Calidad:</strong> Productos duraderos y hermosos, hechos para trascender.</li>
                <li><strong>Sostenibilidad:</strong> Materiales eco-amigables y procesos de producción responsables.</li>
                <li><strong>Comercio Justo:</strong> Apoyo a nuestros artesanos y comunidades.</li>
                <li><strong>Diseños Únicos:</strong> Cada pieza es una obra de arte original.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}