{% extends 'core/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Contáctanos</h1>
            <p class="text-center">Estamos encantados de ayudarte con cualquier pregunta o solicitud que tengas. ¡No dudes en comunicarte con nosotros!</p>

            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Información de Contacto</h5>
                    <p><strong>Email:</strong> orlandorozo@gmail.com </p>
                    <p><strong>Teléfono:</strong> +57 313 541 7983 </p>
                    <p><strong>telefono adicional:</strong> +57 314 485 2315 </p>
                    <p><strong>Dirección:</strong> punto de venta centro comercial gran estacion - local libera colombia entrada#3 </p>
                    <p><strong>Horario de Atención:</strong> Lunes a Viernes, 9:00 AM - 5:00 PM</p>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Síguenos en Redes Sociales</h5>
                    <p>Conéctate con nosotros para ver nuestras últimas creaciones, noticias y ofertas:</p>
                    <ul class="list-unstyled">
                        <li><a href="https://www.instagram.com/tu_usuario_instagram/" target="_blank">Instagram</a></li>
                        <li><a href="https://www.facebook.com/tu_usuario_facebook/" target="_blank">Facebook</a></li>
                        <li><a href="https://www.tiktok.com/@tu_usuario_tiktok" target="_blank">TikTok</a></li>
                        <li><a href="https://www.youtube.com/channel/tu_canal_youtube" target="_blank">YouTube</a></li>
                    </ul>
                    <small class="text-muted">¡No olvides reemplazar los enlaces con tus perfiles reales!</small>
                </div>
            </div>
            {# Futuro: Aquí se podría añadir un formulario de contacto #}
        </div>
    </div>
</div>
{% endblock content %}