{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div id="carrusel-fondo-home">
    <img src="{% static 'img/fondo.png' %}" class="fondo-carrusel-home activo" alt="Fondo principal">
    <img src="{% static 'img/fondo1.png' %}" class="fondo-carrusel-home" alt="Fondo alternativo">
</div>
<div id="carrusel-zapatos-home">
    <img src="{% static 'img/fondo4.png' %}" class="zapato-carrusel-home zapato-2d activo" alt="Zapato 2D">
    <img src="{% static 'img/fondo3.png' %}" class="zapato-carrusel-home zapato-3d" alt="Zapato 3D">
</div>
<div id="contenedor-texto-zapatillas">
    <h1 class="texto-zapatillas">ZAPATILLAS</h1>
</div>
<div id="contenedor-texto-cosidas">
    <h2 id="texto-cosidas" class="texto-cosidas texto-derecha">
        COSIDAS
    </h2>
</div>
<div id="contenedor-texto-inspiradas">
    <h3 class="texto-inspiradas">INSPIRADAS EN LAS FAMILIAS</h3>
    <h3 class="texto-agricolas">AGRICOLAS</h3>
</div>

<div id="contenedor-texto-agricultores">
    <p class="texto-agricultores">
        Comodidad y estilo, rindiendo homenaje<br>
        Al trabajo de las familias agricultoras.<br>
        Cada par esta elaborado<br>
        Artesanalmente con tejidos resistentes<br>
        Y colores vibrantes que representan la<br>
        Conexión con la tierra y la cultura<br>
        campesina
    </p>
</div>
{# Cuadro animado sincronizado con el texto COSIDAS, fuera del contenedor de cosidas #}
<div id="contenedor-cuadro-animado">
    <div id="cuadro-animado" class="cuadro-animado"></div>
</div>

{% block extra_js %}
<script src="{% static 'js/cuadro-animado.js' %}"></script>
{% endblock extra_js %}

  
{% endblock content %}



