
{% load i18n %}
{% autoescape off %}
{% block content %}
{% blocktranslate %}Estás recibiendo este correo porque solicitaste restablecer la contraseña para tu cuenta en {{ site_name }}.{% endblocktranslate %}

{% translate "Por favor, ve a la siguiente página y elige una nueva contraseña:" %}
{{ protocol }}://{{ domain }}{% url 'core:password_reset_confirm' uidb64=uid token=token %}

{% translate 'Tu nombre de usuario, en caso de que lo hayas olvidado:' %} {{ user.get_username }}

{% translate "¡Gracias por usar nuestro sitio!" %}

{% blocktranslate %}El equipo de {{ site_name }}{% endblocktranslate %}
{% endblock %}
{% endautoescape %}
