{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7">
            <div class="form-zc-logo-row">
                <img src="{% static 'img/zapatilla.png' %}" alt="Logo ZC" class="form-zc-logo-img">
                <span class="form-zc-logo-text">ZC</span>
            </div>
            <div class="mb-4">
                <h1 class="form-zc-title text-center">Bienvenido a tu Perfil, {{ user.username }}!</h1>
                <p class="lead text-center">Aquí podrás gestionar tu información, pedidos y solicitudes.</p>
            </div>
            <div class="card shadow-sm p-4">
                <div class="text-center mt-2">
                    <p><strong>Email:</strong> {{ user.email|default:"No especificado" }}</p>
                    <p><strong>Miembro desde:</strong> {{ user.date_joined|date:"d M Y" }}</p>
                    <a href="{% url 'core:profile_edit' %}" class="form-zc-btn">Editar Perfil</a>
                </div>
                <div class="text-center mt-5">
                    <a href="{% url 'core:logout' %}" class="btn btn-danger">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}